In [59]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from config import DB_USERNAME, DB_PASSWORD, DB_NAME
#import matplotlib.pyplot as plt 


#  Request service to get data from REST API
response = requests.get("https://restcountries.com/v3.1/all?fields=name,capital,unMember,region,subregion,continents,area,population,languages,currencies")
if response.status_code == 200:
    data = response.json()

ModuleNotFoundError: No module named 'config'

In [42]:
import requests
import pandas as pd



#  Request service to get data from REST API
response = requests.get("https://restcountries.com/v3.1/all?fields=name,startOfWeek,independent,idd")
if response.status_code == 200:
    data1 = response.json()

In [28]:
def extract_field(data, field):
    """extract official and common names of countries"""
    for key, value in data.items(): # {"eng": {"official":"Malta of Ireland,"common": "malta"}} => eng, {"official":"Malta of Ireland,"common": "malta"}
        for k, v in value.items(): # {"official":"Malta of Ireland,"common": "malta"} =>official, malta ofire, common, malta
            if k == field: 
                return v 


def currency_field(data):
    for key, value in data.items():
        for k, v in value.items():
            return key   


def language_field(data):
    """List of languages spoken in each country"""
    lang = []
    for key, value in data.items():
            lang.append(value)
    return lang

In [47]:
from pandas import isnull


extracted_data = []
    
for country in data: 
        country_name = (country['name']['common'])
        official_country_name = country['name']['official']
        common_nativename = extract_field(country['name']['nativeName'], 'common')
        currency_code = currency_field(country['currencies'])
        currency_name = extract_field(country['currencies'], 'name')
        currency_symbol = extract_field(country['currencies'], 'symbol')
        capital = ' '.join(country['capital'])
        united_nation_member = country['unMember']
        region = country['region']
        sub_region = country['subregion']
        Continents = ' '.join(country['continents'])
        area = country['area']
        population = country['population']
        languages =','.join(language_field(country['languages']))
        extracted_data.append({'countryname':country_name,
                              'official_countryname': official_country_name,
                              'capital': capital,
                              'commonnative_name': common_nativename,
                              'United_Nation_Member': united_nation_member,
                              'Region': region,
                              'Sub_Region': sub_region,
                              'continents': Continents,
                              'Area': area,
                              'currencycode': currency_code,
                              'currencyname': currency_name,
                              'currencysymbol': currency_symbol,
                              'population': population,
                              'languages': languages,
                              
                              
                                                         
                              })

extracted_data1 = []
    
for country in data1: 
        country_name = (country['name']['common'])
        independence = country.get('independent')
        start_of_week = country['startOfWeek']
        country_code = country['idd']['root'] + ' '.join(country['idd']['suffixes'])
        extracted_data1.append({'countryname':country_name,
                              'startofWeek': start_of_week,
                              'independence': independence,      
                              'countrycode': country_code,
                              
                                                         
                              })
        
        
        df1 = pd.DataFrame(extracted_data)
        df2 = pd.DataFrame(extracted_data1)
        df_final = pd.merge(df1, df2, on='countryname', how='outer')
        
print(df_final)

        countryname                     official_countryname  \
0       Afghanistan          Islamic Republic of Afghanistan
1           Albania                      Republic of Albania
2           Algeria  People's Democratic Republic of Algeria
3    American Samoa                           American Samoa
4           Andorra                  Principality of Andorra
..              ...                                      ...
245  Western Sahara         Sahrawi Arab Democratic Republic
246           Yemen                        Republic of Yemen
247          Zambia                       Republic of Zambia
248        Zimbabwe                     Republic of Zimbabwe
249   Åland Islands                            Åland Islands

              capital commonnative_name  United_Nation_Member   Region  \
0               Kabul         افغانستان                  True     Asia
1              Tirana         Shqipëria                  True   Europe
2             Algiers           الجزائر                  True   Africa
3           Pago Pago    American Samoa                 False  Oceania
4    Andorra la Vella           Andorra                  True   Europe
..                ...               ...                   ...      ...
245          El Aaiún    Western Sahara                 False   Africa
246            Sana'a           اليَمَن                  True     Asia
247            Lusaka            Zambia                  True   Africa
248            Harare          Zimbabwe                  True   Africa
249         Mariehamn             Åland                 False   Europe

           Sub_Region continents       Area currencycode  \
0       Southern Asia       Asia   652230.0          AFN
1    Southeast Europe     Europe    28748.0          ALL
2     Northern Africa     Africa  2381741.0          DZD
3           Polynesia    Oceania      199.0          USD
4     Southern Europe     Europe      468.0          EUR
..                ...        ...        ...          ...
245   Northern Africa     Africa   266000.0          DZD
246      Western Asia       Asia   527968.0          YER
247    Eastern Africa     Africa   752612.0          ZMW
248   Southern Africa     Africa   390757.0          ZWL
249   Northern Europe     Europe     1580.0          EUR

             currencyname currencysymbol  population  \
0          Afghan afghani              ؋    43844000
1            Albanian lek              L     2363314
2          Algerian dinar            د.ج    47400000
3    United States dollar              $       49710
4                    Euro              €       88406
..                    ...            ...         ...
245        Algerian dinar             دج      600904
246           Yemeni rial              ﷼    32684503
247        Zambian kwacha             ZK    19693423
248     Zimbabwean dollar              $    17073087
249                  Euro              €       30654

                                             languages startofWeek  \
0                                  Dari,Pashto,Turkmen      monday
1                                             Albanian      monday
2                                               Arabic      sunday
3                                       English,Samoan      monday
4                                              Catalan      monday
..                                                 ...         ...
245                           Berber,Hassaniya,Spanish      monday
246                                             Arabic      sunday
247                                            English      monday
248  Chibarwe,English,Kalanga,Khoisan,Ndau,Northern...      monday
249                                            Swedish      monday

     independence      countrycode
0            True              +93
1            True             +355
2            True             +213
3           False            +1684
4            True             +376
..            ...              ...
245         False  +2125288 125289
246          True             +967
247          True             +260
248          True             +263
249         False           +35818

[250 rows x 17 columns]

In [ ]:
#understand the structure of the data in terms of data types and non-null values
df_final.info()
#find number of missing values in each column
#df_final.isnull().sum()
#find rows with missing values
df_final[df_final.isnull().any(axis=1)]
#df_final = df_final.fillna('N/A')
#missing_values = df_final[df_final.isnull().any(axis=1)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   countryname           250 non-null    object
 1   official_countryname  250 non-null    object
 2   capital               250 non-null    object
 3   commonnative_name     250 non-null    object
 4   United_Nation_Member  250 non-null    bool
 5   Region                250 non-null    object
 6   Sub_Region            250 non-null    object
 7   continents            250 non-null    object
 8   Area                  250 non-null    float64
 9   currencycode          250 non-null    object
 10  currencyname          250 non-null    object
 11  currencysymbol        250 non-null    object
 12  population            250 non-null    int64
 13  languages             250 non-null    object
 14  startofWeek           250 non-null    object
 15  independence          250 non-null    bool
 16  countrycode           250 non-null    object
dtypes: bool(2), float64(1), int64(1), object(13)
memory usage: 29.9+ KB

Empty DataFrame
Columns: [countryname, official_countryname, capital, commonnative_name, United_Nation_Member, Region, Sub_Region, continents, Area, currencycode, currencyname, currencysymbol, population, languages, startofWeek, independence, countrycode]
Index: []

In [ ]:
#find number of missing values in each column after handling missing values. Notice there are still missing values in the dataframe.

df_final.isnull().sum()

countryname             0
official_countryname    0
capital                 0
commonnative_name       0
United_Nation_Member    0
Region                  0
Sub_Region              0
continents              0
Area                    0
currencycode            0
currencyname            0
currencysymbol          0
population              0
languages               0
startofWeek             0
independence            0
countrycode             0
dtype: int64

Next step is to load pandas dataframe(df_final) to PostgreSQL.
Download python packages sqlalchemy and psycopg2
pip install pandas sqlalchemy & psycopg2

In [ ]:
# PostgreSQL Server connection string
connection_string = (
    'postgresql+psycopg2://DB_USERNAME:DB_PASSWORD@localhost:localhost/DB_NAME'
)



# Create SQLAlchemy engine to connect to PostgreSQL Server
engine = create_engine(connection_string)

# Load the DataFrame to PostgreSQL Server, into a table called 'countries'
df_final.to_sql('countries', engine, if_exists='replace', index=False)

# 'if_exists' options:
# 'fail' -> Do nothing if table exists
# 'replace' -> Drop the existing table and create a new one
# 'append' -> Append data to an existing table

250